// app global css

.border-bottom {
  border-bottom: 1px solid lightgray;
}

.border-top {
  border-bottom: 1px solid lightgray;
}

.border-left {
  border-bottom: 1px solid lightgray;
}

.border-right {
  border-bottom: 1px solid lightgray;
}
